@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(209, 209, 209);
}
.header{
    background-color: rgb(245, 245, 245);
    margin-top: 1%;
    padding: 1%;
}
a.arrow{
    position: relative;
    color: black;
    text-decoration: none;
}
a.arrow::after{
    position: absolute;
    content: '>';
}
a.arrow:hover::after{
    transition: 1s all;
    transform: translateX(25px);
}
a.arrow-hexagon{
    color: black;
    text-decoration: none;
}
a.arrow-hexagon::before::after{

}